.aboutH {
  font-size: 40px; /* Originalna veličina fonta */
  line-height: 40px; /* Postavljanje visine linije na istu vrednost kao font-size */
}

.aboutH span {
  display: inline-block; /* Postavljamo da se span ponaša kao blok element */
  font-size: 70px; /* Povećavamo veličinu fonta za 70px */
  transform: translateY(
    20px
  ); /* Pomera span element prema dole za 20px (prilagodite po potrebi) */
}

.aboutTitle {
  width: 40%;
  margin: 0 auto;
}


.clanak, p{
	/*poravnava text sa ljeve i desne strane*/
	text-align: justify;
    margin-top: 100px;
    font-size:20px;
}


.clanak {
  /*vanjske margine diva*/
  margin: 150px auto;
  /*unutrašnje margine diva*/
  padding: 6px;
  /*širina diva*/
  width: 90%;
  /*u slučaju da text ne bude rasprostranjen*/
  clear: both;
}

.profileImg {
  /*veličina slike*/
  width: 500px;
  /*plutajuča slika sa ljeve strane*/
  float: left;
  /*vanjske margine*/
  padding: 5px;
  margin: 20px;
}
